<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913936651403-mhe2ef08bfb73h6pu2db43gfdb5n8v2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913936651403-mhe2ef08bfb73h6pu2db43gfdb5n8v2m</string>
	<key>API_KEY</key>
	<string>AIzaSyAAFkX1mCAg0vduKtlFTGyOySUUy4VxYHY</string>
	<key>GCM_SENDER_ID</key>
	<string>913936651403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.HelpCov</string>
	<key>PROJECT_ID</key>
	<string>helpcov</string>
	<key>STORAGE_BUCKET</key>
	<string>helpcov.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913936651403:ios:8dfc4937fbfff10a77b08e</string>
	<key>DATABASE_URL</key>
	<string>https://helpcov.firebaseio.com</string>
</dict>
</plist>